#Ignore all mp4 video
*.mp4 
#Ignore all .npz files
*.npz 
#Ignore .png files
*.png
*.jpg
*.json
*.exec
*.pt

anticipation_accident/Dataset/DFG_traffic_signal/JPEGImages/*

#ignpre all .pyc files
*.pyc
__pycache__/

#Ignore all .DS_Store files
.DS_Store


#ignore test.ipynb
test.ipynb
anticipation_accident/reconnaissance_d_image/reconnaissance_d_image_tests.ipynb
fine_tune_YOLOv8.ipynb
classnames.txt
anticipation_accident/Dataset/DFG_traffic_signal/

*.DS_Store

# ignore les fichiers json sous n'importe quel répertoire cache
**/cache/*.json


