#Ignore all mp4 video
*.mp4 
#Ignore all .npz files
*.npz 

#ignpre all .pyc files
*.pyc
__pycache__/

#Ignore all .DS_Store files
.DS_Store
```

#ignore test.ipynb
test.ipynb
reconnaissance_d_image/reconnaissance_d_image_tests.ipynb

